@import url( 'https://fonts.googleapis.com/css?family=Poppins:100, 200,300,400,500,600,700,800,900');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    background: #fff;
}
#navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    position: fixed;
    height: 150px;
    width: 100vw;
    border-radius: 5px;
}
.logo{
    flex: 2;
    justify-content: center;
}
.logo > div{
    margin-left: 50px;
    width: 80px;
    height: 80px;
    background-color: aqua;
}
.object{

    flex: 1;

}
ul{
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative;
    padding-left: 20px;
    display: flex;
    width: 420px;
    height: 100px;
    border-radius: 10px;
}
ul li{
    position: relative;   
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
ul li a{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
    width: 100%;
    font-weight: 500;
    text-align: center;
}
ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: black;
}
ul li.active a .icon{
    transform: translateY(-10px);
    color: #fff;
}
.text{
    position: absolute;
    color: black;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
ul li.active  a .text{
    opacity: 1;
    transform: translateY(10px);
    color: #fff;

}
.indicator{
    position: absolute;
    left: 80px;
    width: 70px;
    border-radius: 5px;
    height: 70px; 
    background: #29fd53; 
    transition: 0.5s;
} 
ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px*0)); 
    background: rgb(255, 52, 52);
    box-shadow: 0 5px 70px 5px rgb(255, 52, 52); /* h-radius v-radius blur spread */
    
}
ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px*1));
    background: rgb(77, 77, 241);
    box-shadow: 0 5px 70px 5px rgb(77, 77, 255);
}
ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px*2));
    background: rgb(91, 252, 59);
    box-shadow: 0 5px 70px 5px rgb(91, 252, 59);
}
ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px*3));
    background: rgb(255, 119, 40);
    box-shadow: 0 5px 70px 5px rgb(255, 130, 57);
}

